$primary: #9887ff;
$secondary: #fd3400;
$gradient: linear-gradient(180deg, #9887ff 0%, #665ca0 100%);
$black: #000;
$black-2: #272727;
$gray: #686868;
$white: #fff;
$white-2: #efefef;
$white-3: #d9d9d9;
$green: #12ff55;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Work Sans", sans-serif;
$font-inter: "Inter", sans-serif;
