.hero {
  padding: 1.5rem 0;
  height: calc(100vh - 8.1rem);
  min-height: 650px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto 0;
    &-info {
      width: calc(42% - 0.5rem);
      display: flex;
      flex-direction: column;
      gap: 2.25rem;
    }
    &-container {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
    &-content {
      width: calc(58% - 0.5rem);
    }
    &-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 45.3rem;
      margin-left: auto;
      margin-right: -4rem;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .blog {
      padding: 0;
      &__inner {
        &-menu {
          width: 100%;
          max-width: unset;
        }
      }
    }
  }
  &._lg {
    margin: auto 0;
  }
  .autoContainer {
    height: 100%;
  }
}
.whyUs {
  padding: 2.5rem 0 4rem;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .video {
      width: calc(42% - 0.5rem);
      max-width: 25rem;
      margin-left: 3.5rem;
    }
    &-image {
      width: calc(58% - 0.5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 37.5rem;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    h2 {
      margin-bottom: 5rem;
    }
  }
}
.skills {
  padding: 5rem 0 8rem;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    &-row {
      display: flex;
      justify-content: space-between;
      gap: 2.5rem 1rem;
      flex-wrap: wrap;
    }
  }
  &Item {
    width: calc(25% - 0.75rem);
    max-width: 17.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__image {
      border-radius: 0.5rem;
      overflow: hidden;
      .ratioImage {
        padding-bottom: 85%;
      }
    }
    h5 {
      font-weight: 400;
    }
  }
  h2 {
    position: relative;
    padding-bottom: 0.5rem;
    &:after {
      content: "";
      width: 100%;
      height: 0.4rem;
      min-height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $black;
    }
  }
}
.news {
  padding: 4rem 0 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.8rem 0.6rem;
  }
  &Item {
    width: calc(50% - 0.75rem);
    max-width: 43rem;
    display: flex;
    flex-direction: column;
    gap: 36px;
    &__box {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .ratioImage {
      padding-bottom: 55%;
    }
    h5 {
      font-size: 25px;
      font-weight: 400;
      font-family: $font-inter;
    }
    p {
      font-size: 16px;
      line-height: 1.2em;
      font-family: $font-inter;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.4rem;
  max-width: 30rem;
  margin-left: auto;
  h3 {
    color: $white;
    font-weight: 400;
    text-align: right;
    margin-bottom: 1rem;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
.blog {
  padding: 6rem 0;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-content {
      width: calc(42% - 0.5rem);
    }
    &-button {
      font-size: 1em;
      line-height: 1.4em;
      font-weight: 500;
      position: relative;
      color: $white;
      font-family: $font-secondary;
      &:after {
        content: "";
        width: 0;
        height: 4px;
        background: $white;
        position: absolute;
        left: 0;
        bottom: -5px;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        &::after {
          opacity: 0.3;
          width: 100%;
        }
      }
      &.active {
        &:after {
          opacity: 1;
          width: 100%;
        }
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 1.75rem;
      gap: 2.25rem;
      text-align: right;
      width: calc(58% - 0.5rem);
      max-width: 40rem;
      &-text {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        font-weight: 400;
        color: $white;
      }
    }
    &-info {
      width: 100%;
      font-weight: 400;
    }
    &-image {
      width: calc(58% - 0.5rem);
      max-width: 36rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  h2 {
    color: $secondary;
    width: calc(42% - 0.5rem);
  }
}

@mixin index-1440 {
  .skills {
    &Item {
      max-width: 20rem;
    }
  }
  .hero {
    .box {
      gap: 0.7rem;
      &._sm {
        p {
          font-size: 1.6rem;
        }
      }
    }
    .link {
      font-size: 1.4rem;
    }
  }
}
@mixin index-1024 {
  .whyUs {
    &__inner {
      .vide {
        max-width: 27rem;
      }
    }
  }
  .skills {
    &__inner {
      &-row {
        gap: 2.8rem 2rem;
        justify-content: flex-start;
      }
    }
    &Item {
      max-width: 28rem;
      width: calc(33.3% - 0.5rem);
    }
  }
  .news {
    padding: 3rem 0 100px;
    &__inner {
      gap: 30px 10px;
    }
    &Item {
      max-width: 45rem;
      gap: 20px;
      &__box {
        gap: 5px;
      }
      h5 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .hero {
    .box {
      &._sm {
        p {
          font-size: 1.8rem;
        }
      }
    }
    .link {
      font-size: 1.6rem;
    }
  }
}
@mixin index-768 {
  .hero {
    padding: 2rem 0 4rem;
    height: auto;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 8.1rem);
    &__inner {
      flex-direction: column;
      justify-content: center;
      &-info {
        width: 100%;
      }
      &-content {
        width: 100%;
        .form {
          width: 100%;
          max-width: unset;
          align-items: flex-start;
          max-width: 550px;
          margin: 0 auto 0 auto;
          h3 {
            color: $black;
            text-align: left;
          }
        }
      }
      &-image {
        width: 100%;
        max-width: 450px;
        margin: auto;
      }
    }
    &._lg {
      padding: 2rem 0 8rem;
      .hero {
        &__inner {
          gap: 4rem;
        }
      }
    }
  }
  .whyUs {
    &__inner {
      &-row {
        flex-direction: column;
        gap: 10rem;
      }
      &-image {
        width: 100%;
        max-width: 400px;
      }
      .video {
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
        &__border {
          top: -10px;
          left: -80px;
          width: calc(100% + 160px);
          height: calc(100% + 44px);
        }
        .ratioImage {
          padding-bottom: 140%;
        }
      }
    }
  }
  .skills {
    &__inner {
    }
    &Item {
      max-width: 20rem;
      width: calc(33% - 1.2rem);
    }
  }
  .blog {
    &__inner {
      gap: 4rem;
      &-content {
        width: 100%;
      }
      &-menu {
        width: 100%;
        max-width: unset;
        order: -1;
        text-align: left;
        align-items: flex-start;
        &-text {
          color: $black;
        }
      }
      &-button {
        color: $black;
        &:after {
          background: $black;
        }
      }
      &-row {
        flex-direction: column;
        gap: 5rem;
      }
      &-image {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
      }
      h2 {
        width: 100%;
      }
    }
  }
  .news {
    padding: 2rem 0 70px;
    &__inner {
      gap: 20px 10px;
    }
    &Item {
      max-width: unset;
      width: 100%;
      max-width: 650px;
      margin: 0 auto;
      gap: 20px;
      &__box {
        gap: 5px;
      }
      h5 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@mixin index-580 {
  .skills {
    &Item {
      max-width: 25rem;
      width: calc(50% - 1.2rem);
    }
  }
}
@mixin index-460 {
  .whyUs {
    &__inner {
      .video {
        width: 100%;
        margin: 0 auto;
        max-width: 40rem;
        &__border {
          top: -1rem;
          left: -9rem;
          width: calc(100% + 18rem);
          height: calc(100% + 4rem);
        }
        .ratioImage {
          padding-bottom: 140%;
        }
      }
    }
  }
}
@mixin index-390 {
  .skills {
    &Item {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .blog {
    &__inner {
      &-button {
        font-size: 2rem;
      }
    }
  }
}
