.hero {
  padding: 30px 0;
  margin: auto 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-info {
      width: calc(42% - 10px);
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    &-content {
      width: calc(58% - 10px);
    }
    &-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 906px;
      margin-left: auto;
      margin-right: -80px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
.whyUs {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .video {
      width: calc(42% - 10px);
      max-width: 450px;
    }
    &-image {
      width: calc(58% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1076px;
      margin-right: -90px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
.skills {
  padding: 100px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 82px;
    &-row {
      display: flex;
      justify-content: space-between;
      gap: 50px 20px;
      flex-wrap: wrap;
    }
  }
  &Item {
    width: calc(25% - 15px);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__image {
      border-radius: 10px;
      overflow: hidden;
      .ratioImage {
        padding-bottom: 85%;
      }
    }
    h5 {
      font-weight: 400;
    }
  }
  h2 {
    position: relative;
    padding-bottom: 10px;
    &:after {
      content: "";
      width: 100%;
      height: 8px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $black;
    }
  }
}
.news {
  padding-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 36px 12px;
  }
  &Item {
    width: calc(50% - 15px);
    max-width: 860px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    &__box {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .ratioImage {
      padding-bottom: 55%;
    }
    h5 {
      font-weight: 400;
      font-family: $font-inter;
    }
    p {
      line-height: 1.2em;
      font-family: $font-inter;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 28px;
  max-width: 598px;
  margin-left: auto;
  h3 {
    color: $white;
    font-weight: 400;
    text-align: right;
    margin-bottom: 20px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
.link {
  font-size: 20px;
  line-height: 1.2em;
  &__badge {
    font-size: 1em;
    font-weight: 400;
  }
  a {
    font-size: 1em;
    font-weight: 400;
  }
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    color: $secondary;
  }
  &._sm {
    h3 {
      font-weight: 600;
      color: $secondary;
      font-family: $font-secondary;
    }
    p {
      color: $secondary;
      line-height: 1.4em;
      font-weight: 500;
      font-family: $font-secondary;
    }
  }
}
.video {
  position: relative;
  &__content {
    padding-bottom: 150%;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__border {
    position: absolute;
    top: -35px;
    left: -100px;
    width: calc(100% + 232px);
    height: calc(100% + 80px);
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.blog {
  font-size: 35px;
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    &-content {
      width: calc(42% - 10px);
    }
  }
  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;
    text-align: right;
    &-button {
      font-size: 1em;
      line-height: 1em;
      font-weight: 500;
      position: relative;
      color: $white;
      &:after {
        content: "";
        width: 0;
        height: 4px;
        background: $white;
        position: absolute;
        left: 0;
        bottom: -5px;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        &::after {
          opacity: 0.3;
          width: 100%;
        }
      }
      &.active {
        &:after {
          opacity: 1;
          width: 100%;
        }
      }
    }
    &._top {
      padding-top: 195px;
    }
  }
  &Item {
    display: none;
    flex-direction: column;
    gap: 120px;
    &.active {
      display: flex;
    }
  }
}
