/// section footer
.footer {
  margin-top: auto;
  background: $black-2;
  padding: 1.5rem 0 0.7rem;
  position: relative;
  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    &-link {
      color: $primary;
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      @include transition;
      &:hover {
        opacity: 0.7;
      }
    }
    &-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 0.75rem;
    }
    &-social {
      display: flex;
      align-items: center;
      gap: 0.7rem;
    }
    &-copy {
      font-size: 14px;
      color: $gray;
    }
  }
  h6 {
    font-weight: 400;
    color: $gray;
  }
  &__shadow {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
@mixin footer-1024 {
  .footer {
    &__inner {
      &-link {
        font-size: 16px;
      }
    }
  }
}
@mixin footer-768 {
  .footer {
    &__inner {
      &-link {
        font-size: 15px;
      }
      &-copy {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
  }
}
@mixin footer-580 {
  .footer {
    &__inner {
      &-link {
        font-size: 14px;
      }
    }
  }
}
@mixin footer-460 {
  .footer {
    &__inner {
      flex-wrap: wrap;
      gap: 20px;
      max-width: 300px;
      margin: 0 auto;
      &-container {
        width: calc(50% - 15px);
        &:last-child {
          align-items: flex-end;
        }
      }
      &-copy {
        width: 100%;
        order: 1;
        text-align: center;
      }
    }
  }
}
