@media (min-width: 1921px) {
  html {
    font-size: 1vw;
  }
}
@media (max-width: 1660px) {
  @include components-1660;
}
@media (max-width: 1440px) {
  @include components-1440;
  @include header-1440;
  @include index-1440;
}
@media (max-width: 1280px) {
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include components-1160;
}
@media (max-width: 1024px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include typography-1024;
  @include components-1024;
  @include header-1024;
  @include index-1024;
  @include footer-1024;
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.5vw;
  }
  .autoContainer {
    padding: 0 15px;
  }
  @include components-768;
  @include header-768;
  @include index-768;
  @include footer-768;
}
@media (max-width: 580px) {
  html {
    font-size: 2vw;
  }
  @include typography-580;
  @include components-580;
  @include header-580;
  @include index-580;
  @include footer-580;
}
@media (max-width: 460px) {
  @include footer-460;
  @include index-460;
}

@media (max-width: 390px) {
  @include typography-390;
  @include header-390;
  @include index-390;
}
